In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Masuk data & pengecekan awal
df = pd.read_csv('/content/Data_3000000009_2021.csv')
df

,Unnamed: 0,waktu,windspeed,winddir,netrad,pressure,rain,rh,solrad,ta_max,ta_min,temp,pancilevel,pancitemp,waterlevel,watertemp
0,0,2021-01-01 00:01:10,2.9,251.0,0.0,1008.9,0.0,87.4,230.8,0.0,0.0,25.8,0.0,0.0,1.855,28.5
1,1,2021-01-01 00:03:10,2.9,255.0,0.0,1008.9,0.0,87.1,234.8,0.0,0.0,25.9,0.0,0.0,1.864,28.5
2,2,2021-01-01 00:04:10,2.7,254.0,0.0,1008.9,0.0,87.0,248.3,0.0,0.0,25.9,0.0,0.0,1.864,28.4
3,3,2021-01-01 00:05:10,3.0,246.0,0.0,1008.9,0.0,87.0,250.2,0.0,0.0,25.9,0.0,0.0,1.863,28.5
4,4,2021-01-01 00:06:10,3.3,249.0,0.0,1008.9,0.0,87.0,275.2,0.0,0.0,26.0,0.0,0.0,1.868,28.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450946,1351,2021-12-31 23:54:13,1.9,228.0,0.0,1010.2,0.4,79.9,201.2,0.0,0.0,27.0,0.0,0.0,2.376,30.4
450947,1352,2021-12-31 23:55:13,3.2,231.0,0.0,1010.2,0.4,79.7,203.3,0.0,0.0,27.0,0.0,0.0,2.376,30.5
450948,1353,2021-12-31 23:56:13,1.9,218.0,0.0,1010.2,0.4,79.5,206.6,0.0,0.0,26.9,0.0,0.0,2.373,30.5
450949,1354,2021-12-31 23:57:13,1.5,200.0,0.0,1010.2,0.4,79.6,211.3,0.0,0.0,26.9,0.0,0.0,2.373,30.5
450950,1355,2021-12-31 23:58:13,1.6,221.0,0.0,1010.2,0.4,79.7,214.3,0.0,0.0,26.9,0.0,0.0,2.376,30.5

In [ ]:
# Menentukan kolom yang digunakan #
df= df[['temp','pressure','rh','solrad']]
df

        temp  pressure    rh  solrad
0       25.8    1008.9  87.4   230.8
1       25.9    1008.9  87.1   234.8
2       25.9    1008.9  87.0   248.3
3       25.9    1008.9  87.0   250.2
4       26.0    1008.9  87.0   275.2
...      ...       ...   ...     ...
450946  27.0    1010.2  79.9   201.2
450947  27.0    1010.2  79.7   203.3
450948  26.9    1010.2  79.5   206.6
450949  26.9    1010.2  79.6   211.3
450950  26.9    1010.2  79.7   214.3

[450951 rows x 4 columns]

In [ ]:
Feats= ['pressure','rh','solrad']

X= df[Feats]
y= df[['temp']]

In [ ]:
# Training dataset

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.4,random_state=42)

In [ ]:
# Linear Regression
from sklearn.linear_model import LinearRegression

In [ ]:
# Fitting
MLR= LinearRegression()

MLR.fit(X_train, y_train)

LinearRegression()

In [ ]:
ent_press= float(input("Insert Pressure:"))
ent_rh= float(input("Insert Moisture:"))
ent_solrad= float(input("Insert Solar Radiation:"))

CatchtheRainbow= MLR.predict([[ent_press, ent_rh, ent_solrad]])
print("Predicted Temperature is {W}".format(W= CatchtheRainbow))

Insert Pressure:1
Insert Moisture:2
Insert Solar Radiation:3
Predicted Temperature is [[168.06012864]]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
y

        temp
0       25.8
1       25.9
2       25.9
3       25.9
4       26.0
...      ...
450946  27.0
450947  27.0
450948  26.9
450949  26.9
450950  26.9

[450951 rows x 1 columns]

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

Rsq= MLR.score(X, y)
intercept= MLR.intercept_
coef= MLR.coef_

print("intercept={i}".format(i=intercept))
print("coefficient={c}".format(c=coef))
print("R squared={Rsq}".format(Rsq=Rsq * 100))
koef= list(zip([Feats], coef))
print("fitur & coef={k}".format(k=koef))

y_pred= MLR.predict(X)
MAE= mean_absolute_error
MSE= mean_squared_error

N= len(df)
RSEd= (y - y_pred)**2
RSE= np.sqrt(np.sum(RSEd)/N)
RMSE= MSE(y, y_pred, squared=False)
ymean= np.mean(y)
error= RSE/ymean
r_error= RSE/error
MAE_error= MAE(y, y_pred)
MSE_error= MSE(y, y_pred)
print("RSE = {R}".format(R=RSE))
print("RMSE = {RM}".format(RM=RMSE))
print("error= {e}".format(e=error))
print("error percentage= {e}".format(e=r_error))
print("MAE = {mae}".format(mae=MAE_error))
print("MSE = {mse}".format(mse=MSE_error))

intercept=[168.45540812]
coefficient=[[-0.12857558 -0.13575806  0.00160407]]
R squared=72.52391447242181
fitur & coef=[(['pressure', 'rh', 'solrad'], array([-0.12857558, -0.13575806,  0.00160407]))]
RSE = temp    0.870463
dtype: float64
RMSE = 0.8704629603210188
error= temp    0.030531
dtype: float64
error percentage= temp    28.511044
dtype: float64
MAE = 0.6891352968091053
MSE = 0.7577057652908314